@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:wght@400;700&display=swap');

*{
  box-sizing:  border-box;
}

body{
  background-color: rgb(17, 17, 17);
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}